<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cwnu.sau.db.mybatis.po.SAUMemberPOMapper">
	<select id="findByLoginName" parameterType="String" resultType="cn.edu.cwnu.sau.db.mybatis.po.SAUMemberPO">
		select
		id as id,
		user_login_name as loginName,
		user_real_name as realName,
		user_nick_name as nickName,
		user_pwd as pwd,
		user_college as college,
		user_major as major,
		user_entrance_school_time as entranceSchool,
		user_phone as phone,
		user_mail as mail,
		user_qq as qq,
		user_weixin as weixin,
		user_department as department,
		user_register_time as registerTime
		from
		sau_cwnu_member_info where
		user_login_name=#{loginName}
	</select>
</mapper>